:root {
  --darkspace: #2e3655;
  --planetglow: #1d203e;
  --paper: #dfe4ff;
}

#book-container {
  height: 600px;
}

p{
  margin: 5px 5px;
}

body {
  margin: 0;
  background-color: var(--paper);
  font-family: "Spectral";
  font-size: 14pt;
  font-weight: 400;
}

h1 {
  font-family: "Lugrasimo";
  text-align: center;
}

h2 {
  font-family: "Lugrasimo";
  text-align: center;
}

h3 {
  font-family: "Lugrasimo";
  text-align: center;
}

canvas {
  position: absolute;
}

br {
  margin-top: 30px;
}

#overlay {
  position: absolute;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  width: 75%;
  background: rgb(255, 226, 241);
  box-shadow: 0 0 0.5px 0.25px white;
}
hr.dark {
  border: none;
  height: 4px;
  width: 75%;
  background: #5d6897;
  box-shadow: 0 0 0.5px 0.25px #2e3655;
}

#head{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#jump-parent {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lugrasimo";
}

.jump-button {
  vertical-align: baseline;
  font-size: 22px;
  width: 50%;
  padding: 10px;
  flex: 1;
  text-align: center;
}

#email-parent {
  display: flex;
  margin: 20px;
  margin-top: 0px;
  flex-wrap: wrap;
}

.email-box {
  vertical-align: baseline;
  width: 50%;
  padding: 10px;
  flex: 1;
}

/*footer*/
#footer {
  background-color: #040005;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.social {
  text-align: center;
  width: 50%;
}

a.social {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: 10pt;
  box-sizing: content-box;
  border-radius: 12.5%;
  width: 48px;
  height: 48px;
  margin: 9px;
}

img.social {
  margin: 2px;
  box-sizing: content-box;
  text-align: center;
  border: 0;
  width: 44px;
  height: 44px;
}

.divider {
  background-color: rgba(172, 17, 89, 1);
  height: 4px;
  margin: 7.5px;
}

.small-footer {
  padding: 2px;
  display: block;
  line-height: 1.2;
  text-align: right;
  margin: 0px;
  text-indent: 0pt;
  margin-top: 4pt;
  font-size: 12px;
  color: var(--paper);
  outline: none;
  position: relative;
  box-sizing: border-box;
}

/*clouds*/
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 600px;
  display: block;
}

.clouds {
  background: transparent url(../imgs/cloud.png) repeat top center;
  z-index: 1;
  filter: hue-rotate(10deg);
  animation: move-clouds-back 800s linear infinite;
  filter: blur(20px);
  mix-blend-mode: glow;
}

/*book search*/
#book-search{
  display: flex;
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.filters input,
.filters select {
  padding: 8px;
  font-size: 16px;
}

#price-value {
  margin-left: 10px;
}

.book-list {
  margin: 0 15px 0 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .book-list {
      grid-template-columns: 1fr;
  }
}

.book-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.book-card img {
  width: 100%;
  height: 400px;
  object-fit:contain;
  border-radius: 4px;
}

.book-card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.book-card h3 {
  font-size: 16px;
  margin: 0px 0;
}

.book-card p {
  font-size: 14px;
  color: #555;
}

.book-card b {
  font-size: 14px;
}

.book-card span {
  font-weight: bold;
  color: #2e8b57;
}

.book-deets {
  grid-template-rows:auto auto auto auto 1fr;
  flex: 1;
  display: grid;
  height: 100%;
}

.a-sticker{
  flex:1; 
  margin: 10px 0;
  top: 10px;
  right: -10px;
  background-color: #ff4d4d;
  color: white !important;
  padding: 5px 10px;
  font-size: 22px !important;
  font-weight: bold;
  border-radius: 100px;
  transform: rotate(10deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 50px;
  animation: pulse 2s infinite ease-in-out;
  min-width: 80px;
}

@keyframes pulse {
    0%, 100% {
        transform: rotate(10deg) scale(1);
    }
    50% {
        transform: rotate(10deg) scale(1.1);
    }
}

.b-sticker{
  flex:1; 
  margin: 10px 0;
  top: 10px;
  right: -10px;
  background-color: #ffbc37;
  color: white !important;
  padding: 5px 10px;
  font-size: 22px !important;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 50px;
  min-width: 70px;
}

.c-sticker{
  flex:1; 
  margin: 10px 0;
  top: 10px;
  right: -10px;
  background-color: #3aea74;
  color: white !important;
  padding: 5px 10px;
  font-size: 22px !important;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 50px;
  min-width: 70px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pair{
  display: flex; 
  justify-content: 
  center; gap: 10px;
}

/*mobile*/
@media (max-width: 1000px) {
  #book-container {
    height: 700px;
  }
  .filters {
    flex-direction: column;
  }
  .book-card {
    flex-direction: column;
  }
  .book-deets{
    grid-template-rows:auto auto auto auto;
    height: auto;
  }
  .book-card img{
    max-width: 300px;
  }
}